body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  margin: auto;
}

.homeTp {
  text-align: center;

}

.iconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icon1 {
  height: 220px;
  width: 220px;  
}

.icon2 {
  height: 200px;
  width: 200px;  
}

.icon1 img {
  width: 100%;
}

.icon2 img {
  width: 100%;
}

.icon3 img {
  width: 100%;
}

.modal-footer {
  display: flex;
  flex-direction: column;
}

.modalBtns {
  border: solid 1px gray;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.mapContainer {
    position: relative;
    padding-bottom: 26.25%;
    height: 50vh;
    z-index: 0;
}


.mapContainer iframe,
.mapContainer object,
.mapContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress {
  width: 100%;
}

.storesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;
}

.storesContainer h3 {
  margin-bottom: 2em;
  margin-top: .5em;
}

.storeIndex-buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.store-button {
  display: inline-block;
}

@media only screen and (min-width: 800px) {
  .storesContainer {
    width: 75%;
  }
}